* {
  font-family: Roboto, sans-serif;
  margin: 0;

  /* FOR TESTING */
  /* border: 1px solid red; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  padding: 8px;
}

.header-text {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.header-links a {
  color: #F9FAF8;
}

.header-links ul {
  display: flex;
  gap: 16px;
}